black==23.11.0
click==8.1.7
colorama==0.4.6
flake8==6.1.0
flake8-commas==2.1.0
flake8-docstrings==1.7.0
flake8-print==5.0.0
flake8-quotes==3.3.2
isort==5.12.0
mccabe==0.7.0
mypy==1.7.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==4.0.0
pycodestyle==2.11.1
pydocstyle==6.3.0
pyflakes==3.1.0
snowballstemmer==2.2.0
tomli==2.0.1
typing_extensions==4.8.0
